@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Lexend:wght@300;400&family=Luckiest+Guy&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Rubik:wght@300;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
}
.img1{
  width: 200px;
  
}

.container{
  max-width: 80%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
}
header{
  padding: 20px 0;
}
header ul{
  display:inline-block;
}

header ul li{
  display: inline-block;
  margin-left: 50px;
}
header ul li{
  font-weight: 500;
  transition: 0.5s;
  color: black;
}
header ul li:hover{
  color: blue;
  font-weight: 500;
}


header ul li:hover{
  margin-bottom: 30px;
}
.img3{
 
  height: 500px;
  margin-left: 300px;
  margin-top: -30px;
}

.h1{
 margin-left: 15px; 

}
